<%- include('../common.ejs') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Pending Registrations</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" href="../assets/styles/pendingReg.css">

</head>
<body>
    <div align="right" class="table">
        <table class="content-table">
            <thead>
              <thead>
                  <tr>
                      <th>Customer Id</th>
                      <th>Name</th>
                      <th>Designation</th>
                      <th>Mob.No.</th>
                      <th>Email</th>
                      <th>JoinDate</th>
                  </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < list.length; i++){ %>
                <tr>
                  <td><%= list[i].cusid %></td>
                  <td><%= list[i].name %></td>
                  <td><%= list[i].design %></td>
                  <td><%= list[i].mobile %></td>
                  <td><%= list[i].email %></td>
                  <td><%= list[i].reg_date %></td>
                </tr>
                <% } %>
              </tbody>
        </table>
    </div>
</body>
</html>
