<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/customerOpt.css">
    <script src="../assets/js/printRecord.js"></script>
    <title>Recieved Order List</title>
</head>
<body>
  <div align="center" id="table" class="table">
      <table class="content-table">
        <thead>
            <tr>
                <th>Order#</th>
                <th>Date</th>
                <th>Paid Ammount</th>
                <th>Delivered By</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
        <% if(list.length>0){ %>
          <% for(var i=0; i < list.length; i++){ %>
          <tr>
            <td><%= list[i].orderid %></td>
            <td><%= list[i].ord_date %></td>
            <td><%= list[i].ammout %></td>
            <td><%= list[i].deliveryby %></td>
            <td>RECIEVED</td>
          </tr>
          <% } %>
        <% } %>
        <% if(list.length==0){ %>
          <tr>
            <td colspan="5" align="center">NO DATA</td>
          </tr>
        <% } %>
        </tbody>
    </table><hr>
    <input style="margin-top: 5px;float: left;" type="button" name="PRINT" id="PRINT" value="Print" onclick="savePDF()">
  </div>
</body>
</html>
