<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/Delivery.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <title>Pending Delivery List</title>
</head>
<body>
    <div align="center" class="table">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Date</th>
                    <th>Ship to</th>
                    <th>Order Total</th>
                    <th>Status</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
              <% if(list.length>0){ %>
                <% for(var i=0; i < list.length; i++){ %>
                <tr>
                  <td><%= list[i].orderid %></td>
                  <td><%= list[i].ord_date %></td>
                  <td><%= list[i].orderby %></td>
                  <td><%= list[i].ammout %></td>
                  <td>CONFIRMED</td>
                  <td><a href="/DeliverymanDash/pendingDeliveryList/ACCEPTED/<%=list[i].orderid%>"><input type="submit" value="ACCEPTED"></a></td>
                  <td><a href="/DeliverymanDash/pendingDeliveryList/REJECTED/<%=list[i].orderid%>"><input type="submit" value="RETURNED"></a></td>
                </tr>
                <% } %>
              <% } %>
              <% if(list.length==0){ %>
                <tr>
                  <td colspan="7" align="center">NO DATA</td>
                </tr>
              <% } %>
            </tbody>
        </table>
    </div>
  </div>
</body>
</html>
