<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/orderProducts.css">
    <title>Order Products</title>
</head>
<body>
    <div class="box">
        <h1>Order Products</h1>
        <hr>
        <% for(var i=0; i < list.length; i++){ %>
          <div class="cart">
              <p>product Id: <%= list[i].PID %></p>
              <p>product Name: <%= list[i].P_NAME %></p>
              <p>Available Quantity: <%= list[i].QUANTITY %></p>
              <p>Price: <%= list[i].SELL_PRICE %></p>
              <p><%= list[i].TYPE %></p>
              <hr>
              <a href="/customerDash/orderProducts/Buy"><input type="submit" value="Buy"></a>
          </div>
        <% } %>
    </div>
</body>
</html>
