<%- include('../common.ejs') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Pending Orders</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/orderManage.css">

</head>
<body>
    <div align="center" class="table">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Cash</th>
                    <th>Date</th>
                    <th>By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% if(list.length>0){ %>
              <% for(var i=0; i < list.length; i++){ %>
              <tr>
                <td><%= list[i].orderid %></td>
                <td><%= list[i].prodid %></td>
                <td><%= list[i].quant %></td>
                <td><%= list[i].ammount %></td>
                <td><%= list[i].ord_date %></td>
                <td><%= list[i].orderby %></td>
                <td><a href="/customerDash/pendingOrders/<%=list[i].orderid%>"><input type="submit" value="APPROVE"></a><td>
              </tr>
              <% } %>
            <% } %>
            <% if(list.length==0){ %>
              <tr>
                <td colspan="7" align="center">NO DATA</td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>
</body>
</html>
