<% if (uid == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (uid == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<% if (uid == 3) { %>
  <%-include('../salesmanDash/common.ejs') -%>
<% } %>

<% if (uid == 4) { %>
  <%-include('../DeliverymanDash/common.ejs') -%>
<% } %>

<% if (uid == 5) { %>
  <%-include('../customerDash/common.ejs') -%>
<% } %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>User Profile</title>
      <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
      <link rel="stylesheet" type="text/css" href="../assets/styles/about.css">
      <script src="../assets/js/editProfile.js"></script>
  </head>
  <body>
    <div class="box">
      <form method="POST" autocomplete="off" name="myForm" onsubmit="return(validate());">
          <h1>Profile Info <i class="fas fa-users"></i></h1>
          <p></p>Username<br>
          <input type="text" name="username" readonly value="<%= user[0].EmpID %><%= user[0].cusid %>"><br>
          <p>Full Name</p><br>
          <input type="text" name="fullname" value="<%= user[0].E_NAME %><%= user[0].name %>"><br>
          <p>Designation</p><br>
          <input type="text" name="designation" <%if(uid!=5){%>readonly<%}%> value="<%= user[0].DID %><%= user[0].design %>"><br>
          <p>Email<i class="far fa-envelope"></i></p><br>
          <input type="email" name="email" value="<%= user[0].E_MAIL %><%= user[0].email %>"><br>
          <p>Mobile No.</p><br>
          <input type="number" name="mobile" value="<%= user[0].E_MOB %><%= user[0].mobile %>"><br>
          <p>Join Date</p>
          <input type="text" name="joinDate" readonly value="<%= user[0].JOIN_DATE %><%= user[0].reg_date %>"><br>
          <input type="submit" name="save" value="Save Edit">
      </form>
    </div>
  </body>
  </html>
